<div>
    <h3 class="orange txth1">Exam Marks Percentage Calculator</h3>
 <form action="" class="form-group" [formGroup]="MarksForm">
    <div class="mrkspercent">
    <label for=""><b>Enter Your Name</b></label>
     <input  type="text" name="" id=""  class="form-control" >

     <table  class="table table-striped">
         <thead>
             <tr  >
                 <th >subject name </th>
                 <th >scored marks</th>
                 <th >total marks</th>
                 <th ><button class="btn btn-info" (click)="addSubject1()">AddSubject</button></th>
             </tr>
         </thead>
         <tbody  >
             <tr  *ngFor="let row of MarksForm.get('Rows')['controls']; let i = index " [formGroup]="row" >
                 <td><input type="text" formControlName="Subject" id="" placeholder="enter subject name" class="form-control"></td>
                 <td><input type="text"formControlName="ObtainedMarks" id="" placeholder="Obtained marks"class="form-control"></td>
                 <td><input type="text" formControlName="TotalMarks" placeholder="total marks" class="form-control"></td>
                 <td> <button class="btn btn-danger" (click)="deleteSubject(i)"  >delete</button></td>
             </tr>
             <tr>
                 <td>
                     <b class="text-danger">Result of : 
                    </b>
                 </td>
             </tr>
             <tr>
                 <td ><b class="text-success" style="background:#e3fde9;"> Percentage :{{percentage}} </b></td>
                 <td><b class="text-secondary">Total Scored :{{totalObt}}</b></td>
                 <td><b class="text-secondary">Total Marks : {{totalmrks}}</b></td>
                 <td><button class="btn btn-success" (click)="calculate()" >calculate</button></td>
             </tr>
         </tbody>
     </table>
    <div *ngIf="xyz" class="box">
        <span class="text-centre">percentage: <br> {{percentage}}</span>
    </div>
  </div>
 </form>
</div>
  <!-- 2nd sem -->
<div>
 <form action="" class="form-group" [formGroup]="MarksForm2">
     <div class="mrkspercent">

    <label for=""><b>Enter Your Name</b></label>
    <input  type="text" name="" id=""  class="form-control" >


     <table  class="table table-striped">
         <thead>
             <tr  >
                 <th >subject name</th>
                 <th >scored marks</th>
                 <th >total marks</th>
                 <th ><button class="btn btn-info" (click)="addSubject2()">AddSubject</button></th>
             </tr>
         </thead>
         <tbody  >
             <tr  *ngFor="let row2 of MarksForm2.get('Rows2')['controls']; let j = index " [formGroup]="row2" >
                 <td><input type="text" formControlName="Subject2" id="" placeholder="enter subject name" class="form-control"></td>
                 <td><input type="text"formControlName="ObtainedMarks2" id="" placeholder="Obtained marks"class="form-control"></td>
                 <td><input type="text" formControlName="TotalMarks2" placeholder="total marks" class="form-control"></td>
                 <td> <button class="btn btn-danger" (click)="deleteSubject2(j)"  >delete</button></td>
             </tr>
             <tr>
                 <td>
                     <b class="text-danger">Result of : 
                    </b>
                 </td>
             </tr>
             <tr>
                 <td><b class="text-success">Percentage :{{percentage2}} </b></td>
                 <td><b class="text-secondary">Total Scored :{{totalObt2}}</b></td>
                 <td><b class="text-secondary">Total marks : {{totalmrks2}}</b></td>
                 <td><button class="btn btn-success" (click)="calculate2()" >calculate</button></td>
             </tr>
         </tbody>
     </table>
    <div *ngIf="s2" class="box">
        <span class="text-centre">percentage: <br> {{percentage2}}</span>
    </div>
  </div> 
 </form>
</div>

<!-- 3rd semester -->
<div>
    <form action="" class="form-group" [formGroup]="MarksForm3">
     <div class="mrkspercent">
         
    <label for=""><b>Enter Your Name</b></label>
    <input  type="text" name="" id=""  class="form-control" >

   
        <table  class="table table-striped">
            <thead>
                <tr  >
                    <th >subject name</th>
                    <th>scored marks</th>
                    <th>total marks</th>
                    <th ><button class="btn btn-info" (click)="addSubject3()">AddSubject</button></th>
                </tr>
            </thead>
            <tbody  >
                <tr  *ngFor="let row3 of MarksForm3.get('Rows3')['controls']; let j = index " [formGroup]="row3" >
                    <td><input type="text" formControlName="Subject3" id="" placeholder="enter subject name" class="form-control"></td>
                    <td><input type="text"formControlName="ObtainedMarks3" id="" placeholder="Obtained marks"class="form-control"></td>
                    <td><input type="text" formControlName="TotalMarks3" placeholder="total marks" class="form-control"></td>
                    <td> <button class="btn btn-danger" (click)="deleteSubject3(j)"  >delete</button></td>
                </tr>
                <tr>
                    <td>
                        <b class="text-danger">Result of : 
                       </b>
                    </td>
                </tr>
                <tr>
                    <td><b class="text-success">Percentage :{{percentage3}} </b></td>
                    <td><b class="text-secondary">Total Scored :{{totalObt3}}</b></td>
                    <td><b class="text-secondary">Total marks : {{totalmrks3}}</b></td>
                    <td><button class="btn btn-success" (click)="calculate3()" >calculate</button></td>
                </tr>
            </tbody>
        </table>
       <div *ngIf="s3" class="box">
           <span class="text-centre">percentage: <br> {{percentage3}}</span>
       </div>
       </div>
    </form>
    
</div>

<!-- 4rd semester -->
<div>
    <form action="" class="form-group" [formGroup]="MarksForm4">
        <div class="mrkspercent">
         
            <label for=""><b>Enter Your Name</b></label>
            <input  type="text" name="" id=""  class="form-control" >
        
   
        <table  class="table table-striped">
            <thead>
                <tr  >
                    <th >subject name</th>
                    <th >scored marks</th>
                    <th >total marks</th>
                    <th ><button class="btn btn-info" (click)="addSubject4()">AddSubject</button></th>
                </tr>
            </thead>
            <tbody  >
                <tr  *ngFor="let row3 of MarksForm4.get('Rows4')['controls']; let j = index " [formGroup]="row3" >
                    <td><input type="text" formControlName="Subject4" id="" placeholder="enter subject name" class="form-control"></td>
                    <td><input type="text"formControlName="ObtainedMarks4" id="" placeholder="Obtained marks"class="form-control"></td>
                    <td><input type="text" formControlName="TotalMarks4" placeholder="total marks" class="form-control"></td>
                    <td> <button class="btn btn-danger" (click)="deleteSubject4(j)"  >delete</button></td>
                </tr>
                <tr>
                    <td>
                        <b class="text-danger">Result of : 
                       </b>
                    </td>
                </tr>
                <tr>
                    <td><b class="text-success">Percentage :{{percentage4}} </b></td>
                    <td><b class="text-secondary">Total Scored :{{totalObt4}}</b></td>
                    <td><b class="text-secondary">Total marks : {{totalmrks4}}</b></td>
                    <td><button class="btn btn-success" (click)="calculate4()" >calculate</button></td>
                </tr>
            </tbody>
        </table>
       <div *ngIf="s4" class="box">
           <span class="text-centre">percentage: <br> {{percentage4}}</span>
       </div>
        </div>
    </form>
    
</div>

<!-- 5th semseter -->
<div>
    <form action="" class="form-group" [formGroup]="MarksForm5">
        <div class="mrkspercent">
         
            <label for=""><b>Enter Your Name</b></label>
            <input  type="text" name="" id=""  class="form-control" >
        
         
   
        <table  class="table table-striped">
            <thead>
                <tr  >
                    <th >subject name</th>
                    <th >scored marks</th>
                    <th >total marks</th>
                    <th ><button class="btn btn-info" (click)="addSubject5()">AddSubject</button></th>
                </tr>
            </thead>
            <tbody  >
                <tr  *ngFor="let row3 of MarksForm5.get('Rows5')['controls']; let j = index " [formGroup]="row3" >
                    <td><input type="text" formControlName="Subject5" id="" placeholder="enter subject name" class="form-control"></td>
                    <td><input type="text"formControlName="ObtainedMarks5" id="" placeholder="Obtained marks"class="form-control"></td>
                    <td><input type="text" formControlName="TotalMarks5" placeholder="total marks" class="form-control"></td>
                    <td> <button class="btn btn-danger" (click)="deleteSubject5(j)"  >delete</button></td>
                </tr>
                <tr>
                    <td>
                        <b class="text-danger">Result of : 
                       </b>
                    </td>
                </tr>
                <tr>
                    <td><b class="text-success">Percentage : <br> {{percentage5}} </b></td>
                    <td><b class="text-secondary">Total Scored :{{totalObt5}}</b></td>
                    <td><b class="text-secondary">Total marks : {{totalmrks5}}</b></td>
                    <td><button class="btn btn-success" (click)="calculate5()" >calculate</button></td>
                </tr>
            </tbody>
        </table>
       <div *ngIf="s5" class="box">
           <span class="text-centre">percentage:{{percentage5}}</span>
       </div>
       </div>
    </form>
    
</div>
<!-- 6th semester -->
<div>
    <form action="" class="form-group" [formGroup]="MarksForm6">
        <div class="mrkspercent">
         
            <label for=""><b>Enter Your Name</b></label>
            <input  type="text" name="" id=""  class="form-control" >
        
   
        <table  class="table table-striped">
            <thead>
                <tr  >
                    <th >subject name</th>
                    <th >scored marks</th>
                    <th >total marks</th>
                    <th ><button class="btn btn-info" (click)="addSubject6()">AddSubject</button></th>
                </tr>
            </thead>
            <tbody  >
                <tr  *ngFor="let row3 of MarksForm6.get('Rows6')['controls']; let j = index " [formGroup]="row3" >
                    <td><input type="text" formControlName="Subject6" id="" placeholder="enter subject name" class="form-control"></td>
                    <td><input type="text"formControlName="ObtainedMarks6" id="" placeholder="Obtained marks"class="form-control"></td>
                    <td><input type="text" formControlName="TotalMarks6" placeholder="total marks" class="form-control"></td>
                    <td> <button class="btn btn-danger" (click)="deleteSubject6(j)"  >delete</button></td>
                </tr>
                <tr>
                    <td>
                        <b class="text-danger">Result of : 
                       </b>
                    </td>
                </tr>
                <tr>
                    <td><b class="text-success">Percentage :{{percentage6}} </b></td>
                    <td><b class="text-secondary">Total Scored :{{totalObt6}}</b></td>
                    <td><b class="text-secondary">Total marks : {{totalmrks6}}</b></td>
                    <td><button class="btn btn-success" (click)="calculate6()" >calculate</button></td>
                </tr>
            </tbody>
        </table>
       <div *ngIf="s6" class="box">
           <span class="text-centre">percentage: <br> {{percentage6}}</span>
       </div>
        </div>
    </form>
    
</div>

<!-- 7th semester -->
<div>
    <form action="" class="form-group" [formGroup]="MarksForm7">
        <div class="mrkspercent">
         
            <label for=""><b>Enter Your Name</b></label>
            <input  type="text" name="" id=""  class="form-control" >
        
        <table  class="table table-striped">
            <thead>
                <tr  >
                    <th >subject name</th>
                    <th >scored marks</th>
                    <th>total marks</th>
                    <th ><button class="btn btn-info" (click)="addSubject7()">AddSubject</button></th>
                </tr>
            </thead>
            <tbody  >
                <tr  *ngFor="let row3 of MarksForm7.get('Rows7')['controls']; let j = index " [formGroup]="row3" >
                    <td><input type="text" formControlName="Subject7" id="" placeholder="enter subject name" class="form-control"></td>
                    <td><input type="text"formControlName="ObtainedMarks7" id="" placeholder="Obtained marks"class="form-control"></td>
                    <td><input type="text" formControlName="TotalMarks7" placeholder="total marks" class="form-control"></td>
                    <td> <button class="btn btn-danger" (click)="deleteSubject7(j)"  >delete</button></td>
                </tr>
                <tr>
                    <td>
                        <b class="text-danger">Result of : 
                       </b>
                    </td>
                </tr>
                <tr>
                    <td><b class="text-success">Percentage :{{percentage7}} </b></td>
                    <td><b class="text-secondary">Total Scored :{{totalObt7}}</b></td>
                    <td><b class="text-secondary">Total marks : {{totalmrks7}}</b></td>
                    <td><button class="btn btn-success" (click)="calculate7()" >calculate</button></td>
                </tr>
            </tbody>
        </table>
       <div *ngIf="s7" class="box">
           <span class="text-centre">percentage: <br> {{percentage7}}</span>
       </div>
        </div>
    </form>
    
</div>

<!-- 8th semester -->

<div>
    <form action="" class="form-group" [formGroup]="MarksForm8">
        <div class="mrkspercent">
         
            <label for=""><b>Enter Your Name</b></label>
            <input  type="text" name="" id=""  class="form-control" >
        
        <table  class="table table-striped">
            <thead>
                <tr  >
                    <th >subject name</th>
                    <th >scored marks</th>
                    <th >total marks</th>
                    <th ><button class="btn btn-info" (click)="addSubject8()">AddSubject</button></th>
                </tr>
            </thead>
            <tbody  >
                <tr  *ngFor="let row3 of MarksForm8.get('Rows8')['controls']; let j = index " [formGroup]="row3" >
                    <td><input type="text" formControlName="Subject8" id="" placeholder="enter subject name" class="form-control"></td>
                    <td><input type="text"formControlName="ObtainedMarks8" id="" placeholder="Obtained marks"class="form-control"></td>
                    <td><input type="text" formControlName="TotalMarks8" placeholder="total marks" class="form-control"></td>
                    <td> <button class="btn btn-danger" (click)="deleteSubject8(j)"  >delete</button></td>
                </tr>
                <tr>
                    <td>
                        <b class="text-danger">Result of : 
                       </b>
                    </td>
                </tr>
                <tr>
                    <td><b class="text-success">Percentage :  {{percentage8}} </b></td>
                    <td><b class="text-secondary">Total Scored :{{totalObt8}}</b></td>
                    <td><b class="text-secondary">Total marks : {{totalmrks8}}</b></td>
                    <td><button class="btn btn-success" (click)="calculate8()" >calculate</button></td>
                </tr>
            </tbody>
        </table>
       <div *ngIf="s8" class="box">
           <span class="text-centre"> percentage: <br> {{percentage8}}</span>
       </div>
      </div>
   </form>

     <div class="text-center">    <button class="btn btn-success text-center" (click)="finalResult()" >Click here final Result</button> 
       
     </div>
     <br>
    <div *ngIf="avg"  class="boxavg">
        <span  > <b> Total Scored : {{yourscore}}</b></span> 
        <span  > <b> Total Marks :{{total}}</b></span>
        <span  > <b> Final Result :{{percentageavg}}</b></span> 
        <!--<table >
            <thead>
                <td > total score :{{yourscore}}</td>
                <td>total marks :{{total}}</td>
                <td> Final percentage :{{percentageavg}}</td>
            </thead>
        </table>-->
    </div>
    
</div>

