<img src="../../assets/PNG/Login - BG.png" alt="">
<nav class="navbar navbar-expand-lg navMain " style=" position: absolute; margin-top: -783px;">
 <a class="navbar-brand navA" href="#" >
   <img class="mant navImg" src="../../assets/PNG/manteio white logo.png"  alt="">
 </a>
 </nav>
  <form class="form-group" [formGroup]="Forgot" style=" position: absolute; margin-top: -585px;margin-left: 50px; background-color: white; padding: 20px; height: 527;">
       <h2 > Forgot password </h2>
       <p>Enter the email associated with your account and we'll send an email with instructions to reset your password.</p>
       <label for="">Email address</label>
       <input type="text" name=""  id="" formControlName="Email" class="form-control"[ngClass]=" { 'is-invalid': submitted && f.Email.errors }"> 
       <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
        <div *ngIf="f.Email.errors.required">Email is required</div>
        <div *ngIf="f.Email.errors.pattern">Email must be a valid email address</div>
      </div>
       <br>
       <button type="button" class="buttoncanc" style="color:#999999; margin-left:145px; ">cancel   </button> 
       <button class="buttonsub" type="button" style="width: px; color: white; height: 40px;margin-left: 12px;" (click)="forgot()">Submit</button>
       <br>
  </form>


