 
<nav class="navbar navbar-expand-lg navMain" style="position: absolute;">
    <a class="navbar-brand navA" href="#" style="margin-right: 0px;">
      <img class="mant navImg" src="../assets/PNG/Manteio black logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
     aria-controls="navbarNavAltMarkup" aria-expanded="false" style="margin-left: 0px;"
     aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
  
        <a class="nav-item nav-link navAAA" style="margin-left:770px ;" href="#"> Home</a>
              
        <a class="nav-item nav-link navAAA" href="#">About us</a>
  
        <a class="nav-item nav-link navAAA" href="#">Scholorship</a>        
       
        <a class="nav-item nav-link navAAA" >
         <button class="btn btn-danger  navButton" (click)="loginPage()">login </button>
        </a>   
       
      </div>
    </div>
  </nav>
  
  <div>
    <img class=" bg-transparent landingImg" src="../assets/PNG/Cover Image.png" alt="">
    <div class="landingMain">
        <h2 class="landingh2" style="position: absolute; margin-top: -485px;">Unique Learning Path</h2>
        <h2 class="landingh2" style="position: absolute; margin-top: -435px;">For Unique Minds</h2>
        <p class="landingp "style="position: absolute; margin-top: -390px;">
             Learn and grow at your own pace.</p>
        <input type="text" placeholder="Search for Course" class="landingsearch"> 
        <img src="../../assets/PNG/Search.png" alt=""style="position: absolute; margin-top: -327px; margin-left: 533px;">  
          
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <h2>Find out more about us </h2>
          <h2>Co-Learning Experience </h2> <br>
          <p>We empower everyone to have the equal learning </p>
          <p>opportunity</p>
          <img src="../../assets/PNG/design 1.png" alt="" style="margin-left: -80px;margin-bottom: -400px;">

      </div>
      <div class="col-md-6">
        <div class="row">
            <div class="col-md-6" >
                <br>
                
                    <img src="../../assets/PNG/Learn with experts - BG.png" alt="" >
                    <br>
                    <br>

                    <img src="../../assets/PNG/Group 7.png" alt="">
            </div>
            <div class="col-md-6">
                <img src="../../assets/PNG/design 1.png" alt="" style="margin-left: 150px;margin-bottom: 20px">
                <br>
                <br>
                <br>
                <img src="../../assets/PNG/Update Course - BG.png" alt="">
            </div>
        </div>
      </div>
 
    </div>
  </div>

  <img src="../../assets/PNG/Learn with experts.png"
  style="top: 808px;
  left: 803px;
  width: 23px;
  height: 35px;"
  style="position: absolute; margin-top:-450px ;margin-left:712px" alt="">
  <p class="mantcard" style="position: absolute; margin-top:-380px ;margin-left:730px">Learn with experts</p>
  <p class="mantcardp" style="position: absolute; margin-top:-356px ;margin-left:720px">Learn from the experts of the field.</p>

  
 
  <img src="../../assets/PNG/Flexible learning.png"
  style="top: 808px;
  left: 803px;
  width: 23px;
  height: 35px;"
  style="position: absolute; margin-top:-220px ;margin-left:710px" alt="">
  <p class="mantcard" style="position: absolute; margin-top:-150px ;margin-left:730px">Flexible learning</p>
  <p class="mantcardp" style="position: absolute; margin-top:-120px ;margin-left:720px">Study at your convenience, anytime.</p>
  
  <img src="../../assets/PNG/Update Course.png"
  style="top: 808px;
   left: 803px;
   width: 23px;
   height: 35px;"
   style="position: absolute; margin-top:-220px ;margin-left:996px" alt="">
  <p class="mantcard" style="position: absolute; margin-top:-154px ;margin-left:1024px">update course</p>
  <p class="mantcardp" style="position: absolute; margin-top:-123px ;margin-left:1000px">Level up with interactive and personalized teaching methods.</p>
<br>
<br>
<br>
 <div>
    <h2 style="margin-left: 100px;">Our Favored Learning Paths</h2> 
    <button style="margin-left: 1100px ; margin-top: -400px;
    color:tomato">+ Browse all</button>
    <p style="margin-left: 100px;">Here are our few fitting learning paths with personalized</p>
    <p style="margin-left: 100px;"> touch to get you the best from our trainers.</p>
</div>
<div class="row">
    <div class="col-md-4" style="padding: 80px;">
        <div class="card" >
            <img class="card-img-top" src="../../assets/PNG/master math.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"><b>Master Math:</b> Learn the magic of numbers with interactive sessions.</p>
              <img src="../../assets/PNG/List.png" alt="">
              <p style="position: absolute; margin-top: -23px; margin-left: 20px; ">9x Lesson</p>
            </div>
            <div class="card-footer">
                <img src="../../assets/PNG/goldern star.png" alt="">
                <img src="../../assets/PNG/goldern star.png" alt="">
                <img src="../../assets/PNG/goldern star.png" alt="">
                <img src="../../assets/PNG/goldern star.png" alt="">
                <img src="../../assets/PNG/gray star.png" alt="">
                <img src="../../assets/PNG/Next button.png" style="margin-left: 110px;" alt="">
              </div>
          </div>
    </div>
    <div class="col-md-4" style="padding: 80px;">
        <div class="card" >
            <img class="card-img-top" src="../../assets/PNG/master social.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"> <b> Master Social:</b> Know and grow from the History and learn the economy...</p>
              <img src="../../assets/PNG/List.png" alt="">
              <p style="position: absolute; margin-top: -23px; margin-left: 20px; ">9x Lesson</p>
            </div>
            <div class="card-footer">
                <img src="../../assets/PNG/goldern star.png" alt="">
                <img src="../../assets/PNG/goldern star.png" alt="">
                <img src="../../assets/PNG/goldern star.png" alt="">
                <img src="../../assets/PNG/goldern star.png" alt="">
                <img src="../../assets/PNG/gray star.png" alt="">
                <img src="../../assets/PNG/Next button.png" style="margin-left: 110px;" alt="">

              </div>
          </div>
    </div>
    <div class="col-md-4" style="padding: 80px;">
        <div class="card" >
            <img class="card-img-top" src="../../assets/PNG/master physics.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"><b>Master Physics:</b> Perceive the natural laws of the universe.</p>
              <img src="../../assets/PNG/List.png" alt="">
              <p style="position: absolute; margin-top: -23px; margin-left: 20px; ">9x Lesson</p>
            </div>
            <div class="card-footer">
                <img src="../../assets/PNG/goldern star.png" alt="">
                <img src="../../assets/PNG/goldern star.png" alt="">
                <img src="../../assets/PNG/goldern star.png" alt="">
                <img src="../../assets/PNG/goldern star.png" alt="">
                <img src="../../assets/PNG/gray star.png" alt="">
                <img src="../../assets/PNG/Next button.png" style="margin-left: 110px;" alt="">
    
    
              </div>
          </div>
       
    </div>
</div>
<img class="vidimg" src="../../assets/PNG/Video image BG.png" alt=""style="position: absolute; margin-top: -1047px; ">
<img class="" src="../../assets/PNG/Learn anything - BG.png" alt=""style="position: absolute; margin-top: -1238px ; margin-left: 970px ">
  <img src="../../assets/PNG/Learn anything.png"
  style="top: 808px;
   left: 803px;
   width: 23px;
   height: 35px;"
   style="position: absolute; margin-top:-1217px ;margin-left:991px" alt="">
  <p class="mantcard" style="position: absolute; margin-top:-1146px ;margin-left:1028px">Learn anything</p>
  <p class="mantcardp" style="position: absolute; margin-top:-1120px ;margin-left:1000px">With one-of-kind learning path, learn from anywhere.</p>
 <footer style="background: url('../../assets/PNG/Footer\ BG.png');">
    <div class="footer">
        <div class="row">

            <div class="col-md-4 text-center">
                <br>
                <h5 class="h5Footer">Follow us</h5>
                <a href=""><img  class="i icons" src="../../assets/PNG/facebook.png" alt="" style="background-color: black;"></a>
                <a href=""><img  class="i icons" src="../../assets/PNG/twitter.png" alt=""></a>
                <a href=""><img  class="i icons" src="../../assets/PNG/instagram.png" alt=""></a>
                <a href=""><img  class="i icons" src="../../assets/PNG/youtube.png" alt=""></a>
            </div>
            <div class="col-md-4 text-center">
                <br>
                 <h5 class="h5Footer">Quick Links</h5>
                <a href="" class="aText"><p class="h footerHeight">Home</p></a>
                <a href="" class="aText"><p class="h footerHeight">About us</p></a>
                <a href="" class="aText"><p class="h footerHeight">Course</p></a>
                <a href="" class="aText"><p class="h footerHeight">Scholorship</p></a>
           
            </div>
            <div class="col-md-4 text-center">
                <br>
                <h5 class="h5Footer">Contact us</h5>

                <a href="" class="aText"><img src="../../assets/PNG/telephone.png" alt="">
                    <p class="h footerHeight">432-235-9323</p></a>
                    
                <a href="" class="aText"><img src="../../assets/PNG/mail (1).png" alt="">
                    <p class="h footerHeight">example@gmail.com</p></a>

            </div>

          
        </div>
  </div>
</footer>
<div class="copyFooter">
    <p class="copyFooter2"> © 2020-All Rights Reserved </p>

</div>
