 <img src="../../assets/PNG/Login - BG.png" alt="">
   <nav class="navbar navbar-expand-lg navMain " style=" position: absolute; margin-top: -783px;">
    <a class="navbar-brand navA" href="#" >
      <img class="mant navImg" src="../../assets/PNG/manteio white logo.png"  alt="">
    </a>
    </nav>
     <form class="form-group" [formGroup]="Registration" style=" position: absolute; margin-top: -595px;margin-left: 50px; background-color: white; padding: 20px; height: 527;" (ngSubmit)="reg()">
          <h2 > Register</h2>
          <label for="">Username</label>
          <input type="text" name="UserName" formControlName="UserName" id="" width="390" class="form-control" [ngClass]="{'is-invalid': submitted && f.UserName.errors }"> 
          <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
            <div *ngIf="f.UserName.errors.required">Username  is required</div>
            <div *ngIf="f.UserName.errors.minlength">username  must be 3 characters</div>
        </div> 
          <br>

          <label for="">password</label>
          <input type="password" name="Password" formControlName="Password" id="" width="390" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
          <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
            <div *ngIf="f.Password.errors.required">password  is required</div>
            <div *ngIf="f.Password.errors.minlength">password  must be 6 digits</div>
        </div> 
          <br>
          
          <label for="">Email</label>
          <input type="text" name="Email" formControlName="Email" id="" width="390" class="form-control" [ngClass]=" { 'is-invalid': submitted && f.Email.errors }">
          <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
            <div *ngIf="f.Email.errors.required">Email is required</div>
            <div *ngIf="f.Email.errors.pattern">Email must be a valid email address</div>
          </div>
            <br>
          <button class="text-center" type="submit" style="width: 345px; color: white; height: 40px;" > sign Up</button> <br>
          <br>
          <p>------------------------  or --------------------------</p>
          <p>Do you have account?
              <a href="../login" style="color: tomato;">Sign in</a>
          </p>
      </form>

  
